.radio-switch {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.125rem;
    height: 100%;
    color: var(--color-secondary);
    border-radius: var(--border-radius);
    background-color: var(--color-secondary-10);
    border: none;
}

.radio-switch-option {
    position: relative;
    z-index: 1;
    aspect-ratio: 1;
    height: 100%;
    border-radius: var(--border-radius);
    cursor: pointer;
    color: inherit;
    transition: color 0.2s ease-in-out;
}

.radio-switch-label {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
}

.radio-switch-option.selected {
    color: var(--color-primary);
}

.radio-switch-slider {
    position: absolute;
    top: 0.125rem;
    left: 0.125rem;
    height: calc(100% - 0.25rem);
    aspect-ratio: 1;
    border-radius: var(--border-radius);
    background-color: var(--color-background);
    box-shadow: 1px 1px 0 0 var(--color-secondary-25);
    transition: transform 0.2s ease-in-out;
    z-index: 0;
}

.radio-switch input {
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}