#app-main {
    display: grid;
    grid-template-columns: var(--sidebar-width) 1fr;
    height: calc(100vh - var(--header-height));
}

.sideToSide #app-main {
    grid-template-columns: var(--sidebar-width) 1fr 1fr;
}